{% load static %}
{% include 'generic_system/head.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRUD</a>
  </div>
</nav>
<div class="card  text-center col-md-6 offset-md-3" style="margin-top: 50px">
    {% if form.errors %}
    <p class="alert-danger">Tu nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p class="alert-danger">Tu cuenta no tiene acceso a esta página. Para proceder,
        inicie sesión con una cuenta que tenga acceso.</p>
        {% else %}
        <!--<p>Inicie sesión para ver esta página.</p>-->
        {% endif %}
    {% endif %}
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="card-header">
                <div class="form-icon">
                    <h1><i class="icon icon-user"></i></h1>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="text" class="form-control item m-2" name="{{ form.username.name }}" placeholder="Usuario">
                </div>
                <div>
                    <input type="password" class="form-control item m-2" name="{{ form.password.name }}" placeholder="Contraseña">
                </div>
                {# Assumes you setup the password_reset view in your URLconf #}
                <!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->
            </div>
            <div class="card-footer">
                <div>
                  <input type="submit" value="Ingresar" class="btn btn-primary"/>
                  <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>
</div>
{% include 'generic_system/footer.html' %}



{% endblock %}